MONGO_URI = mongodb+srv://test
PORT = 8080

SPA_ORIGIN1 = "http://localhost:5173" 
SPA_ORIGIN2 =  "http://localhost:5174"

JWT_SECRET = test
CLOUDINARY_URL=cloudinary://test
CLOUDINSRY_API_SECRET="test"

CLOUDINSRY_API_KEY="test"

CLOUDINSRY_CLOUD_NAME=test



# OPEN_AI_APIKEY=test
